/* roboto-mono-700 - latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-mono-v12-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-mono-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-mono-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-mono-v12-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-mono-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-mono-v12-latin-700.svg#RobotoMono') format('svg'); /* Legacy iOS */
  }
  

body {
    width: 90%;
    margin: 0 auto;
    font-family: "Roboto Mono";
}

textarea {
    resize: none;
}

::selection {
    background-color: #bef264;
}

.grid {
    display: grid;
    height: 90vh;
    padding: 5vh;
    justify-items: center;
    grid-template-columns: 5fr 1fr 5fr;
    grid-template-rows: 1fr 1fr 5fr;
    grid-template-areas: 
        "header header header"
        "caption caption caption"
        "excel-box btn list-box";
}

.header {
    grid-area: header;
}

.caption {
    grid-area: caption;
}

.excel-box {
    grid-area: excel-box;
}

.btn {
    grid-area: btn;
    height: 40px;
    align-self: center;
    background: #bef264;
    border: 1px solid black;
    box-shadow: 2px 2px 0px 0px black;
    cursor: pointer;
}

.list-box {
    grid-area: list-box;
}


.box {
    padding: 1%;
    width: 90%;
    border: 1px solid black;
    box-shadow: 5px 5px 0px 0px black;
}